.temacontainer{
    display: flex;
    justify-content: center;
    padding: 9px;
    box-shadow: 0 0.9px 0.9px 0 rgba(0, 0, 0, 0.2) ;
}

.temacontainer a{
    margin-left: 40px;
    font-size: 18px;
}